body{
    background-color: #ffff99;
    padding: 0%;
    margin: 0%;
}

.banana{
    height: 50px;
    width; 50px;
    float: left;
    padding: 5px 0;
}

nav{
    background-color: lightseagreen;
    width: 100%;
    height: 60px;
    text-align: center;
    border: solid palevioletred;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-family: cursive;
}

nav li{
    display: inline-block;
    list-style: none;
    height: 30px;
    line-height: 20px;
    padding: 20px 40px;
}


nav li a:link{
    color: yellow;
    text-decoration: none;
}

nav li a:hover{
    background-color: pink;
    transition: .5s;
    color: white;
    text-decoration: none;
  }

nav li a:active{
    color:pink;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .column {
    float: left;
    width: 50%;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

aside{
    background-color: cyan;
    width: 50%;
    height: 81%;
    text-align: center;
    float: right;
    border: solid orchid;
    text-shadow: 2px 2px #ff0000;
    color: white;
    
}

.cat{
    width: 100%;
    height: 100%;
}


article{
    background-color: dodgerblue;
    width:50%;
    height:81%;
    text-align: center;
    border: solid violet;
    text-shadow: 2px 2px #ff0000;
    color: white;
}


footer{
    background-color: palevioletred;
    width: 100%;
    height: 50px;
    text-align: center;
    border: solid chartreuse;
    text-shadow: 2px 2px #ff0000;
    color: white;
    line-height: 40px;
}