body{
    background-color: #ffff99;
    padding: 0%;
    margin: 0%;
}

.banana{
    height: 50px;
    width: 50px;
    float: left;
    padding: 5px 10px;
}

nav{
    background-color: lightseagreen;
    width: 100%;
    height: 60px;
    text-align: center;
    border: solid palevioletred;
    text-shadow: 2px 2px #ff0000;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-family: cursive;
}

nav li{
    display: inline-block;
    list-style: none;
    height: 30px;
    line-height: 20px;
    padding: 20px 80px 0px 90px;
    text-align: center;
}


nav li a:link{
    color: yellow;
    text-decoration: none;
}

nav li a:hover{
    background-color: pink;
    transition: .5s;
    color: white;
    text-decoration: none;
  }

nav li a:active{
    color:white;
    text-decoration: none;
}

a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

 

media{
    height: 100%;
    width: 100%;
}

.video{
    text-align: center;
}

.glasses{
    float:left;
    padding: 60px 15px 0 40px;
    
}

.dance{
    float:right;
    padding: 60px 80px 0  60px;
}

aside{
    background-color: cyan;
    width: 50%;
    height: 110%;
    text-align: center;
    float: right;
    border: solid orchid;
    text-shadow: 2px 2px #ff0000;
    color: white;
}

.bananabread{
    height: 100%;
    width: 100%;
}



article{
    background-color: dodgerblue;
    width:50%;
    height:110%;
    text-align: center;
    border: solid violet;
    text-shadow: 2px 2px #ff0000;
    color: white;
}

h3{
    text-decoration: underline;
    font-family: 'Lobster', cursive;
}

footer{
    background-color: palevioletred;
    width: 100%;
    height: 50px;
    text-align: center;
    border: solid chartreuse;
    text-shadow: 2px 2px #ff0000;
    color: white;
    line-height: 40px;
}